@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #f39189;
  color: #064420;
}

body h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2px;
}

input {
  padding: 0.5rem;
  width: 60%;
  border-radius: 0.7rem;
  background-color: #bb8082;
}

input:focus {
  outline: none;
}
